<mat-nav-list class="container">
  <div class="profile-card">
    <div class="header">
      <h2>Eusang Lhaki</h2>
      <h4>example@gmail.com</h4>
    </div>
    <img
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt=""
    />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader color="primary">Pages</h2>
  <div class="nav-link">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
      <mat-icon>check_circle_outline</mat-icon>Hall Status</a
    >
  </div>
  <div class="nav-link">
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/users"
      class="link"
      ><mat-icon>group</mat-icon>Users</a
    >
  </div>
  <div class="nav-link">
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/log"
      class="link"
      ><mat-icon>bookmark_border</mat-icon>ActivityLog</a
    >
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader color="primary">Tools</h2>
  <div class="nav-link">
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/analysis"
      class="link"
    >
      <mat-icon>import_contacts</mat-icon>
      Hall Details
    </a>
  </div>
</mat-nav-list>
