<mat-nav-list class="container">
  <div class="profile-card">
    <div class="header">
      <h2>Eusang Lhaki</h2>
      <h4>example@gmail.com</h4>
    </div>
    <img
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt=""
    />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader color="primary">Pages</h2>
  <div class="nav-link">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
      >Bookings</a
    >
  </div>
  <div class="nav-link">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users"
      >Users</a
    >
  </div>
  <div class="nav-link">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/log"
      >ActivityLog</a
    >
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader color="primary">Tools</h2>
  <div class="nav-link">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/analysis">
      <mat-icon>import_contacts</mat-icon>
      Hall Details
    </a>
  </div>
</mat-nav-list>
