.container {
  width: 100%;
}

:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
}
.nav-link {
  border-radius: 4px;
  &:hover {
    background-color: #786aff;
  }
}
.link:active {
  background-color: #786aff;
}

.profile-card {
  text-align: center;
  padding: 0px 20px 20px 20px;
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}
