<div class="title">
    Team Work Hall
</div>
<mat-card class="Hall-Detail">
    <mat-card-header>
      <mat-card-subtitle>First Floor</mat-card-subtitle>
    </mat-card-header>
    <img  class="hall-img" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> 
    <mat-card-content class="content">
         <p>Item List </p>
        
           <mat-icon  >accessibility</mat-icon>   Capacity: 30  <br><br>
               
            <mat-icon >accessible</mat-icon>   No. of chairs:30
                <br><br>
            <mat-icon >view_module</mat-icon>   No. of tables:10
                <br><br>
            <mat-icon >settings_input_hdmi</mat-icon>   No. of projector:1 
            <div class="status">
                 <mat-icon class="booking" color="primary">check_circle</mat-icon> Booked by user1
            </div>
            <div class="time">
                <mat-icon color="primary">query_builder</mat-icon>  From 16:00 - 18:00
            </div>
            <div class="date">
                <mat-icon color="primary" >today</mat-icon> "Today's Date"
            </div>
    </mat-card-content>
  
  </mat-card>
  
