<div class="container">
  <div class="title">
    <span class="hall-name">Team Work Hall</span>
  </div>
  <div class="wrapper">
    <mat-card class="Hall-Detail">
      <div class="image-container">
        <img
          class="hall-img"
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
      </div>
      <div class="list-container">
        <div class="item">
          <mat-icon class="list-icon">accessibility</mat-icon>
          <span class="list-item">Capacity: 30</span>
        </div>

        <div class="item">
          <mat-icon class="list-icon">accessible</mat-icon>
          <span class="list-item">No. of chairs:30</span>
        </div>

        <div class="item">
          <mat-icon class="list-icon">view_module</mat-icon>
          <span class="list-item">No. of tables:10</span>
        </div>

        <div class="item">
          <mat-icon class="list-icon">settings_input_hdmi</mat-icon>
          <span class="list-item"> No. of projector:1 </span>
        </div>

        <div class="item">
          <mat-icon class="list-icon">check_circle</mat-icon
          ><span class="list-item">Booked by user1</span>
        </div>

        <div class="item">
          <mat-icon class="list-icon">query_builder</mat-icon>
          <span class="list-item">From 16:00 - 18:00</span>
        </div>
        <div class="item">
          <mat-icon class="list-icon">today</mat-icon
          ><span class="list-item">"Today's Date"</span>
        </div>
      </div>
    </mat-card>
  </div>
</div>
