<div class="container">
  <div class="title">
    <span class="hall-name">Meeting Room 2</span>
  </div>
  <div class="wrapper">
    <mat-card class="Hall-Detail">
      <div class="prev-arrow-wrapper">
        <a
          mat-list-item
          routerLinkActive="list-item-active"
          routerLink="/analysis"
          ><div class="next-arrow"><</div></a
        >
      </div>
      <div class="image-container">
        <img
          class="hall-img"
          src="https://images.pexels.com/photos/260689/pexels-photo-260689.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="Photo of a Shiba Inu"
        />
      </div>
      <div class="detail-wrapper">
        <div class="list-container">
          <div class="item">
            <mat-icon class="list-icon">accessibility</mat-icon>
            <span class="list-item">Capacity: 10</span>
          </div>

          <div class="item">
            <mat-icon class="list-icon">accessible</mat-icon>
            <span class="list-item">No. of chairs:10</span>
          </div>

          <div class="item">
            <mat-icon class="list-icon">view_module</mat-icon>
            <span class="list-item">No. of tables:3</span>
          </div>

          <div class="item">
            <mat-icon class="list-icon">settings_input_hdmi</mat-icon>
            <span class="list-item"> No. of projector:1 </span>
          </div>

          <div class="item">
            <mat-icon class="available">check_circle</mat-icon>
            <span class="list-item">Available</span>
          </div>
        </div>
      </div>
      <div class="next-arrow-wrapper">
        <a
          mat-list-item
          routerLinkActive="list-item-active"
          routerLink="/analysis"
          ><div class="prev-arrow">></div>
        </a>
      </div>
    </mat-card>
  </div>
</div>
