.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.material-icons.md-46 {
  font-size: 46px;
  padding-top: 4px;
}
.username {
  padding-left: 30px;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 2em;
}
.form {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 0px;
  margin-top: 30px;
}
.title {
  margin-top: 20px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: bold;
  margin-left: 35px;
}

.date-field {
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0.2, 0.7);
  width: 200px;
  height: 10px;
  margin-left: 35px;
}
.submit {
  cursor: pointer;
}
.date {
  font-weight: lighter;
  font-size: medium;
}
.table-header {
  display: flex;
  height: 20px;
  align-items: center;
  margin-top: 2em;
  background-color: #7c60ff;
  color: white;
  border-radius: 4px;
  padding: 20px 10px;
  margin-left: 30px;
  justify-content: space-between;
}
.user {
  font-size: medium;
  padding-left: 20px;
  padding-right: 20px;

  justify-content: space-between;
}
.content {
  padding: 10px 100px 5px 10px;
}
.list {
  list-style-type: none;
  margin-left: 0;
}

.card {
  display: flex;
  height: 20px;
  width: 100%;
  margin-top: 2em;

  padding: 20px 0px;
  justify-content: space-between;
}
.user-icon {
  float: left;
  font-size: 36px;
  padding-top: 0.5em;
}
.user-name {
  padding-left: 4em;
  float: left;
  font-size: medium;
  padding-top: 1em;
}
.last-activity {
  font-size: medium;
  padding-left: 18px;
  padding-right: 20px;
}

.user-detail {
  font-size: 10px;
  font-family: sans-serif;
}
.description {
  display: none;
}
