<div class="details">
  <div class="title">Activity Log</div>

  <div class="header">
    <div class="form">
      <form action="/form/submit" method="GET">
        <input type="date" name="date" class="date-field" />
      </form>
      <div>
        <mat-icon
          class="submit"
          routerLinkActive="list-item-active"
          routerLink="/userdetails"
          >search</mat-icon
        >
      </div>
    </div>

    <span class="date"> Today: {{ todayString }}</span>
  </div>
  <div class="table-header">
    <span class="user">User</span>
    <span class="user">Hall Booked</span>
    <span class="user">Date</span>
    <span class="user">From</span>
    <span class="user">To</span>
  </div>

  <ul>
    <li class="list">
      <mat-card class="card">
        <span class="last-activity">
          <mat-icon>account_circle</mat-icon> User 2
        </span>
        <span class="last-activity">Hall 1</span>
        <span class="last-activity">2021-07-12</span>
        <span class="last-activity">13:00</span>
        <span class="last-activity">15:00</span>
      </mat-card>
    </li>
    <li class="list">
      <mat-card class="card">
        <span class="last-activity">
          <mat-icon>account_circle</mat-icon> User 1
        </span>
        <span class="last-activity">Hall 3</span>
        <span class="last-activity">2021-07-10</span>
        <span class="last-activity">13:00</span>
        <span class="last-activity">15:00</span>
      </mat-card>
    </li>
    <li class="list">
      <mat-card class="card">
        <span class="last-activity">
          <mat-icon>account_circle</mat-icon> User 2
        </span>
        <span class="last-activity">Hall 2</span>
        <span class="last-activity">2021-07-5</span>
        <span class="last-activity">13:00</span>
        <span class="last-activity">15:00</span>
      </mat-card>
    </li>
    <li class="list">
      <mat-card class="card">
        <span class="last-activity">
          <mat-icon>account_circle</mat-icon> User 3
        </span>
        <span class="last-activity">Hall 2</span>
        <span class="last-activity">2021-07-1</span>
        <span class="last-activity">13:00</span>
        <span class="last-activity">15:00</span>
      </mat-card>
    </li>
  </ul>
</div>
