.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.material-icons.md-46 {
  font-size: 46px;
  padding-top: 4px;
}
.username {
  padding-left: 30px;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 2em;
}
.form {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 0px;
  margin-top: 30px;
}
.title {
  margin-top: 20px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: bold;
}

.date-field {
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0.2, 0.7);
  width: 200px;
  height: 10px;
}
.submit {
  cursor: pointer;
}
.date {
  font-weight: lighter;
  font-size: medium;
  margin-right: 30px;
}
.table-header {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: -110px;
  margin-right: 200px;
}
.user {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: darkgray;
  font-family: sans-serif;
  padding-left: 10em;
}
.content {
  padding: 10px 100px 10px 10px;
}

.card {
  display: flex;
  height: 20px;
  margin-top: 2em;
}
.user-icon {
  float: left;
  font-size: 36px;
  padding-top: 0.5em;
}
.user-name {
  padding-left: 4em;
  float: left;
  font-size: medium;
  padding-top: 1em;
}
.last-activity {
  font-size: medium;
  padding-left: 210px;
  padding-right: 110px;
  margin-left: -200px;
}

.user-detail {
  font-size: 10px;
  font-family: sans-serif;
}
.description {
  display: none;
}
.detail {
  margin-left: 30em;
  padding-top: -1em;
}
