@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.container {
  display: flex;
}
.title {
  font-size: 20px;
  font-weight: bolder;
  font-family: sans-serif;
  padding-left: 20px;
}
.hall-name {
  margin-top: 20px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.Hall-Detail {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80%;
  display: flex;
  box-shadow: rgb(0 0 0 /69%) 0px 26px 30px -10px,
    rgb(0 0 0 /73%) 0px 16px 10px -10px;
}

.image-container {
  border: 4px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 60%;
  // height: 30%;
  overflow: hidden;
  align-items: center;

  // @media(max-height: 768px){
  //     height:200px;
  // }
}
.hall-img {
  border-radius: 5px;
  align-content: left;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.list-container {
  display: flex;
  padding: 20px 24px;
  flex-direction: column;
  justify-content: center;
}
.item {
  display: flex;
  padding: 12px 0px;
}
.list-icon {
  color: #786aff;
}
.list-item {
  padding-left: 15px;
  font-size: 16px;
}
.content {
  float: right;
  padding-right: 35%;
  font-size: small;
  font-family: Lato;
  font-weight: bold;
}
.time {
  padding-top: 20px;
}
.date {
  padding-top: 20px;
}
.next {
  margin-top: 200px;
  margin-left: 100px;
}
