.calendar-container {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: white;
}
.date {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: sans-serif;
}
.calendar {
  display: grid;
  grid-template-areas: "empty halls" "times contents";
  grid-template-columns: 120px;
  grid-template-rows: 60px;
  width: 80vw;
  height: 95vh;
  margin: 10px auto;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.empty {
  display: grid;
  grid-area: empty;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.halls {
  grid-area: halls;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-transform: uppercase;
  font-size: 12px;
  background-color: #786aff;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.halls > div {
  display: grid;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}
.times {
  display: grid;
  grid-area: times;
  grid-template-rows: repeat(11fr, 1);
  font-size: 14px;

  border-left: 1px solid rgba(0, 0, 0, 0.25);
}
.times > div {
  display: grid;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.content {
  grid-area: contents;
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(3, 1fr);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  grid-auto-flow: column;
}
.content > div {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.content > div:nth-child(even) {
  background-color: #f7f7f7;
}
