<div class="Title">Meeting Halls</div>
<div class="container">
  <mat-card class="Hall-Detail">
    <a mat-card-actions routerLinkActive="list-item-active" routerLink="/hall"
      ><div class="image-container">
        <img
          class="hall-img"
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
      </div>
    </a>
  </mat-card>
  <div class="hall-name">Hall 1</div>

  <mat-card class="Hall-Detail">
    <a mat-card-actions routerLinkActive="list-item-active" routerLink="/hall"
      ><div class="image-container">
        <img
          class="hall-img"
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
      </div>
    </a>
  </mat-card>

  <div class="hall-name">Hall 2</div>
</div>

<div class="container2">
  <mat-card class="Hall-Detail">
    <a mat-card-actions routerLinkActive="list-item-active" routerLink="/hall"
      ><div class="image-container">
        <img
          class="hall-img"
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
      </div>
    </a>
  </mat-card>
  <div class="hall-name">Hall 3</div>

  <mat-icon>add_circle</mat-icon>
</div>
