<div class="Title">Users</div>
<div class="actions">
    <div class="search" fxLayout="row" fxLayoutAlign="space-evenly center">
      <div>
        <input type="text" name="text" placeholder="Search name"/>
        <mat-icon
          class="submit"
          routerLinkActive="list-item-active"
          routerLink="/userdetails"
        >search
        </mat-icon
        >
      </div>




      <div class="button">
        <button
          mat-raised-button
          class="adduser"
          onclick="document.location='addform'"
        >
          Add User
        </button>
      </div>
    </div>
</div>


<div fxLayout="row" fxLayoutAlign="space-around start" class="table-header">
  <span class="user">Profile</span>
  <span class="user">User</span>
  <span class="user">Email</span>
  <span class="user">Bookings Today</span>
  <span class="user">Last Activity</span>
  <span class="user">Details</span>
</div>

<ul>
  <li class="list">
    <mat-card class="card">
      <span>
        <mat-icon class="user-icon" inline>account_circle</mat-icon>
      </span>
      <span class="user-name">User 1</span>
      <span class="email">email@gmail.com</span>
      <span class="booking-today">2</span
      ><span class="last-activity">2021-03-15</span>
      <a
        mat-card-actions
        routerLinkActive="list-item-active"
        routerLink="/userdetails"
        class="detail"
      >
        <mat-icon> keyboard_arrow_right</mat-icon>
      </a>
      <div class="description">User details</div>
    </mat-card>
  </li>
  <li class="list">
    <mat-card class="card">
      <span>
        <mat-icon class="user-icon" inline>account_circle</mat-icon>
      </span>
      <span class="user-name">User 2</span>
      <span class="email">email@gmail.com</span>
      <span class="booking-today">1</span>
      <span class="last-activity">2021-03-15</span
      ><a
      mat-card-actions
      routerLinkActive="list-item-active"
      routerLink="/userdetails"
      class="detail"
    >
      <mat-icon> keyboard_arrow_right</mat-icon>
    </a>
      <div class="description">User details</div>
    </mat-card>
  </li>
  <li class="list">
    <mat-card class="card">
      <span>
        <mat-icon class="user-icon" inline>account_circle</mat-icon>
      </span>
      <span class="user-name">User 3</span>
      <span class="email">email@gmail.com</span>
      <span class="booking-today">1</span>
      <span class="last-activity">2021-03-15</span
      ><a
      mat-card-actions
      routerLinkActive="list-item-active"
      routerLink="/userdetails"
      class="detail"
    >
      <mat-icon> keyboard_arrow_right</mat-icon>
    </a>
      <div class="description">User details</div>
    </mat-card>
  </li>
  <li class="list">
    <mat-card class="card">
      <span>
        <mat-icon class="user-icon" inline>account_circle</mat-icon>
      </span>
      <span class="user-name">User 4</span>
      <span class="email">email@gmail.com</span>
      <span class="booking-today">2</span>
      <span class="last-activity">2021-03-15</span
      ><a
      mat-card-actions
      routerLinkActive="list-item-active"
      routerLink="/userdetails"
      class="detail"
    >
      <mat-icon> keyboard_arrow_right</mat-icon>
    </a>
      <div class="description">User details</div>
    </mat-card>
  </li>
  <li class="list">
    <mat-card class="card">
      <span>
        <mat-icon class="user-icon" inline>account_circle</mat-icon>
      </span>
      <span class="user-name">User 5</span>
      <span class="email">email@gmail.com</span>
      <span class="booking-today">3</span>
      <span class="last-activity">2021-03-15</span
      ><a
      mat-card-actions
      routerLinkActive="list-item-active"
      routerLink="/userdetails"
      class="detail"
    >
      <mat-icon> keyboard_arrow_right</mat-icon>
    </a>
      <div class="description">User details</div>
    </mat-card>
  </li>
</ul>
