<div class="Title">Users</div>
<div class="actions">
  <div class="search">
    <div>
      <input type="text" name="text" placeholder="Search name" />
    </div>
    <div>
      <mat-icon
        color="primary"
        class="submit"
        routerLinkActive="list-item-active"
        routerLink="/userdetails"
        >search</mat-icon
      >
    </div>
  </div>
  <div class="button">
    <button mat-raised-button color="primary" class="adduser">Add User</button>
  </div>
</div>

<div class="table-header">
  <span class="user">Profile</span>
  <span class="user">User</span>
  <span class="user">Last Activity</span>
  <span class="user">Details</span>
</div>

<ul>
  <li class="list">
    <mat-card class="card">
      <span>
        <mat-icon color="primary" class="user-icon" inline
          >account_circle</mat-icon
        >
      </span>
      <span class="last-activity">User 1</span>
      <span class="last-activity">2021-03-15</span
      ><a
        mat-card-actions
        routerLinkActive="list-item-active"
        routerLink="/userdetails"
        class="detail"
      >
        <mat-icon> keyboard_arrow_right </mat-icon>
      </a>
      <div class="description">User details</div>
    </mat-card>
  </li>
  <li class="list">
    <mat-card class="card">
      <span>
        <mat-icon color="primary" class="user-icon" inline
          >account_circle</mat-icon
        >
      </span>
      <span class="last-activity">User 2</span>
      <span class="last-activity">2021-03-15</span
      ><a
        mat-card-actions
        routerLinkActive="list-item-active"
        routerLink="/userdetails"
        class="detail"
      >
        <mat-icon> keyboard_arrow_right </mat-icon>
      </a>
      <div class="description">User details</div>
    </mat-card>
  </li>
  <li class="list">
    <mat-card class="card">
      <span>
        <mat-icon color="primary" class="user-icon" inline
          >account_circle</mat-icon
        >
      </span>
      <span class="last-activity">User 3</span>
      <span class="last-activity">2021-03-15</span
      ><a
        mat-card-actions
        routerLinkActive="list-item-active"
        routerLink="/userdetails"
        class="detail"
      >
        <mat-icon> keyboard_arrow_right </mat-icon>
      </a>
      <div class="description">User details</div>
    </mat-card>
  </li>
  <li class="list">
    <mat-card class="card">
      <span>
        <mat-icon color="primary" class="user-icon" inline
          >account_circle</mat-icon
        >
      </span>
      <span class="last-activity">User 4</span>
      <span class="last-activity">2021-03-15</span
      ><a
        mat-card-actions
        routerLinkActive="list-item-active"
        routerLink="/userdetails"
        class="detail"
      >
        <mat-icon> keyboard_arrow_right </mat-icon>
      </a>
      <div class="description">User details</div>
    </mat-card>
  </li>
  <li class="list">
    <mat-card class="card">
      <span>
        <mat-icon color="primary" class="user-icon" inline
          >account_circle</mat-icon
        >
      </span>
      <span class="last-activity">User 5</span>
      <span class="last-activity">2021-03-15</span
      ><a
        mat-card-actions
        routerLinkActive="list-item-active"
        routerLink="/userdetails"
        class="detail"
      >
        <mat-icon> keyboard_arrow_right </mat-icon>
      </a>
      <div class="description">User details</div>
    </mat-card>
  </li>
</ul>
