<div class=details>

    <div class="container">
        <div class="profile">
        <mat-icon color="primary" class="md-46">account_circle</mat-icon>
        </div>
        <span class="username">User Name</span><br>
        <form action="/form/submit" method="GET"> 
            <input type="text" name="text" class="search" placeholder="Search name">
            <mat-icon color="primary" class="submit" routerLinkActive='list-item-active'routerLink="/userdetails">search</mat-icon>
            <button mat-raised-button color="primary" class="edit">
                <mat-icon>edit</mat-icon>
                Edit
            </button>
            <button mat-raised-button color="primary" class="delete" inline>
                <mat-icon>delete</mat-icon>
               Delete
            </button>
        </form>
    </div>
       
       
    
</div>
