.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.material-icons.md-46 {
  font-size: 46px;
  padding-top: 4px;
}
.username {
  padding-left: 30px;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 2em;
}
.form {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 25px;
}
.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.action-buttons {
  align-items: center;
}
.edit {
  text-align: center;
  margin-right: 25px;
  width: 100px;
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
  border-radius: 4px;
}
.delete {
  text-align: center;
  margin-right: 50px;
  width: 100px;
  background-color: white;
  color: red;
  border: 1px solid rgba(255, 93, 93, 1);

  box-shadow: none;
  border-radius: 4px;
}
.search {
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0.2, 0.7);
  width: 200px;
}
.submit {
  cursor: pointer;
}
.table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}
.user {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: darkgray;
  font-family: sans-serif;
  padding-left: 10em;
}
.content {
  padding: 10px 100px 10px 10px;
}

.card {
  display: flex;
  height: 20px;
  align-items: center;
  margin-top: 2em;
}
.user-icon {
  float: left;
  font-size: 36px;
  padding-top: 0.5em;
}
.user-name {
  padding-left: 4em;
  float: left;
  font-size: medium;
  padding-top: 1em;
}
.last-activity {
  font-size: medium;
  padding-left: 133px;
}

.user-detail {
  font-size: 10px;
  font-family: sans-serif;
}
.description {
  display: none;
}
.detail {
  margin-left: 30em;
  padding-top: -1em;
}
